     <div class="user__input-block">
        <p class="user__input-name">{{inputName}}</p>
        <input class="user__input  user__input-{{inputClass}}" type={{type}} name={{inputClass}}  value={{inputValue}}>
    </div>