<div class="login__input-block">
    <label class="login__label">{{label}}</label>
    <input class="login__input" type={{type}} name={{inputName}} data-reg={{reg}}>
    <span class="login__input-error login__input-error-{{inputName}}">{{error}}</span>
</div>
